<div class="container">
  <div>
    <p>Eventually, this will get routed to its own page and be the game setting
    </p>
  </div>
  <div class="card-deck">
    <!--<div class="card card-inverse">
      <img class="card-img" src="/images/Miss White.png" alt="Card image">
      <div class="card-img-overlay">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card.</p>
      </div>
    </div>-->
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Miss White</h4>
        <p class="card-text">Game Character</p>
      </div>
      <!--For some reason only way I could get the images to keep their normal
        ratio was to wrap them in a link tag with a height of 100%.  Open to suggestions
        for sure. -->
      <a href="/document" style="height:100%;">
        <img class="card-img-bottom" src="{{imagePaths.MissWhite}}" alt="Card image cap" >
      </a>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Colonel Mustard</h4>
        <p class="card-text">Game Character</p>
      </div>
      <a href="/document" style="height:100%;">
      <img class="card-img-bottom" src="{{imagePaths.ColMustard}}" alt="Card image cap">
      </a>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Mr. Green</h4>
        <p class="card-text">Game Character</p>
      </div>
      <a href="/document" style="height:100%;">
      <img class="card-img-bottom" src="{{imagePaths.MrGreen}}" alt="Card image cap">
      </a>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Mrs. Peacock</h4>
        <p class="card-text">Game Character</p>
      </div>
      <a href="/document" style="height:100%;">
      <img class="card-img-bottom" src="{{imagePaths.MrsPeacock}}" alt="Card image cap">
      </a>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Professor Plum</h4>
        <p class="card-text">Game Character</p>
      </div>
      <a href="/document" style="height:100%;">
      <img class="card-img-bottom" src="{{imagePaths.ProfPlum}}" alt="Card image cap">
      </a>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Miss Scarlett</h4>
        <p class="card-text">Game Character</p>
      </div>
      <a href="/document" style="height:100%;">
      <img class="card-img-bottom" src="{{imagePaths.MissScarlett}}" alt="Card image cap">
      </a>
    </div>
  </div>
</div>