<div class="container">
  <h1>List of Lobbies</h1>
  <p-dataTable [value]="lobbyList">
    <p-column field="name" header="Name"></p-column>
    <p-column field="host.user.userName" header="Host"></p-column>
    <p-column field="players.length" header="Players"></p-column>
      <ng-template let-count="rowData" pTemplate="body">
        <span>{{count[col.field]}}/6</span>
      </ng-template>
    <p-column>
      <ng-template let-lob="rowData" pTemplate="body">
        <button *ngIf="isLoggedIn" type="button" (click)="joinLobby(lob)">Join</button>
        <span *ngIf="!isLoggedIn">Login to join game...</span>
      </ng-template>
    </p-column>
  </p-dataTable>
  <button *ngIf="isLoggedIn" class="pull-right" type="button" (click)="showCreateLobbyDialog()">Host Lobby</button>
</div>

<p-dialog header="Create Lobby" [(visible)]="showDialog">
  <input type="text" [(ngModel)]="newLobbyName" placeholder="Lobby Name...">
  <p-footer>
      <button type="button" class="pull-right" aria-label="Create" (click)="createLobby()">Create</button>
      <span *ngIf="!isValid">Lobby name is already taken. Please choose a different name</span>
  </p-footer>
</p-dialog>