#circle {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

.class{
    cursor: pointer;
}

 .hhallway{
     margin-left: 70px;
 }

 .vhallway{
     margin-top: 40px;
 }   

.red {
    background: red;
}

.white
{
    background: white;
}

.green{
    background: green;
}

.blue {
    background: blue;
}

.purple{
    background: purple;
}

.yellow
{
    background: yellow;
}