<div *ngIf="!game.isStarted" style="z-index: 1001; width: 100%; height: 100%; background:rgba(0,0,0,.5); position: absolute;">
  <div style="z-index: 1002; background: white; position: absolute; margin-left:250px; margin-top:100px">
    <span>Please wait for more players to join!</span>
    <span>Current player count: {{lobby.players.length}}</span>
    <button *ngIf="lobby.players.length > 1 && player.serverId == lobby.host.serverId" type="button" (click)="startGame()">Start</button>
  </div>
</div>

<div *ngIf="!allPlayersHaveChosen && game.isStarted" style="z-index: 1001; width: 100%; height: 100%; background:rgba(0,0,0,.5); position: absolute;">
  <div style="z-index: 1002; background: white; position: absolute; margin-left:250px; margin-top:100px">
    Please wait for everyone to choose a player.
    <div *ngFor="let serverUser of game.players">
      <span>{{serverUser.user.userName}} chooses: {{serverUser.user.character}}</span>
    </div>
  </div>
</div>

<p-dialog header="Select a Player" [width]="500" [height]="auto" [closable]="false" [visible]="game.isStarted && !closeCharacterDialog">
  <p-dropdown [options]="characterSelectionDropdown" [(ngModel)]="chosenCharacter" [appendTo]="body" [style]="{'width': '300px'}"></p-dropdown>
  <p-footer>
      <button type="button" class="pull-right" aria-label="Create" (click)="chooseCharacter()">Choose</button>
      <span *ngIf="!isValidCharacterSelection">Character is already taken. Please choose a different character</span>
  </p-footer>
</p-dialog>

<p-dialog header="Make Suggestion" [width]="400" [height]="auto" [closable]="true" [visible]="showSuggestionDialog">
  <label>Character: </label><p-dropdown [options]="suggestionCharacterDD" [(ngModel)]="suggestion.character" [appendTo]="body" [style]="{'width': '300px'}"></p-dropdown><br>
  <label>Weapon: </label><p-dropdown [options]="suggestionWeaponDD" [(ngModel)]="suggestion.weapon" [appendTo]="body" [style]="{'width': '300px'}"></p-dropdown>  
  <p-footer>
      <button type="button" class="pull-right" aria-label="Suggest" (click)="makeSuggestion()">Suggest</button>
      <span *ngIf="!isValidSuggestion">Make sure to select a value for each dropdown</span>
  </p-footer>
</p-dialog>

<p-dialog header="Make Accusation" [width]="375" [height]="325"  [closable]="true" [visible]="showAccusationDialog">
  <label>Character: </label><p-dropdown [options]="suggestionCharacterDD" [(ngModel)]="suggestion.character" [appendTo]="body" [style]="{'width': '300px'}"></p-dropdown><br>
  <label>Room: </label><p-dropdown [options]="accusationRoomDD" [(ngModel)]="suggestion.room" [appendTo]="body" [style]="{'width': '300px'}"></p-dropdown><br>
  <label>Weapon: </label><p-dropdown [options]="suggestionWeaponDD" [(ngModel)]="suggestion.weapon" [appendTo]="body" [style]="{'width': '300px'}"></p-dropdown>  
  <p-footer>
      <button type="button" class="pull-right" aria-label="Suggest" (click)="makeAccusation()">Accuse</button>
      <span *ngIf="!isValidAccusation">Make sure to select a value for each dropdown</span>
  </p-footer>
</p-dialog>

<p-dialog header="Suggestion Reply" [width]="500" [height]="auto" [closable]="false" [visible]="showSuggestionReplyDialog">
  <!--<label>Can you disprove any of the following parts of the Suggestion?</label>
      <button id="suggBtnRoom"class="btn btn-secondary btn-m" type="button" >{{suggBtnRoom}}</button>  
      <button id="suggBtnCharacter"class="btn btn-secondary btn-m" type="button">{{suggBtnCharacter}}</button>  
      <button id="suggBtnWeapon"class="btn btn-secondary btn-m" type="button">{{suggBtnWeapon}}</button>  -->
  <p-dropdown [options]="suggestionReplyDD" [(ngModel)]="suggestionReply.card" [appendTo]="body" [style]="{'width': '300px'}"></p-dropdown>
  <p-footer>
      <button type="button" class="pull-right" aria-label="Reply" (click)="sendSuggestionReply()">Reply</button>
      <span *ngIf="!isValidSuggestionReply">Make sure to select a value for the dropdown</span>
  </p-footer>
</p-dialog>

<!--Button Row-->
<!--For some reason, can't get the buttons centered, whatever it's fine haha-->
<div style="height: 50px; display:inline-block;">
  <div *ngIf="player.user.isTurn" class="btn-toolbar" style="width:650px;float:left;"> 
    <h4 style="padding: 5px;">Your Turn:</h4>
    <div class="dropdown" style="padding:5px;">
        <button class="btn btn-secondary btn-m" (click)="showSuggDialog()" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Make Suggestion
        </button>
    </div>
      <div class="dropdown" style="padding:5px;">
        <button class="btn btn-secondary btn-m" (click)="showAccuseDialog()" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Make Accusation
        </button>
    </div>
    <div style="margin: 5px;">
      <button type="button" class="btn btn-danger btn-xs active" (click)="endTurn()">End Turn</button>
    </div>
  </div>
  <div style="text-align: center; width: 150px; float: right; border-right: 1px solid black; border-left: 1px solid black;">
    <h5 style="margin-bottom: 0; padding-bottom: 0;">Current Turn:</h5>
    <span>{{game.turnOrder[game.turnIndex]}}</span>  
  </div>
</div>

  <!--<div style="width: 100px; border: 2px solid black; float: right;">
    <p>Turn: </p>
  </div>
</div>-->

<!--Board-->
<div style="width:650px;" class="pull-left">
  <div style="width:100%;">
    <div class="room" (click)="moveIfValid(game.Study)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.Study.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.Study.players && game.Study.players.length > 0">
            <div id="circle" class="{{game.Study.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.Study.players && game.Study.players.length > 1">
            <div id="circle" class="{{game.Study.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.Study.players && game.Study.players.length > 2">
            <div id="circle" class="{{game.Study.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.Study.players && game.Study.players.length > 3">
            <div id="circle" class="{{game.Study.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.Study.players && game.Study.players.length > 4">
            <div id="circle" class="{{game.Study.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.Study.players && game.Study.players.length > 5">
            <div id="circle" class="{{game.Study.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway1)" style="width:160px; height:40px; margin-bottom:30px; background:tan; display:inline-table" title="{{game.Hallway1.name}}"><a></a>
      <div *ngIf="game.Hallway1.players && game.Hallway1.players.length > 0" id="circle" class="{{game.Hallway1.players[0].user.color}} hhallway"></div>
    </div>
    <div class="room" (click)="moveIfValid(game.Hall)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.Hall.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.Hall.players && game.Hall.players.length > 0">
            <div id="circle" class="{{game.Hall.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.Hall.players && game.Hall.players.length > 1">
            <div id="circle" class="{{game.Hall.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.Hall.players && game.Hall.players.length > 2">
            <div id="circle" class="{{game.Hall.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.Hall.players && game.Hall.players.length > 3">
            <div id="circle" class="{{game.Hall.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.Hall.players && game.Hall.players.length > 4">
            <div id="circle" class="{{game.Hall.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.Hall.players && game.Hall.players.length > 5">
            <div id="circle" class="{{game.Hall.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway2)" style="width:160px; height:40px; margin-bottom:30px; background:tan; display:inline-table" title="{{game.Hallway2.name}}"><a></a>
      <div *ngIf="game.Hallway2.players && game.Hallway2.players.length > 0" id="circle" class="{{game.Hallway2.players[0].user.color}} hhallway"></div>
    </div>
    <div class="room" (click)="moveIfValid(game.Lounge)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.Lounge.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.Lounge.players && game.Lounge.players.length > 0">
            <div id="circle" class="{{game.Lounge.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.Lounge.players && game.Lounge.players.length > 1">
            <div id="circle" class="{{game.Lounge.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.Lounge.players && game.Lounge.players.length > 2">
            <div id="circle" class="{{game.Lounge.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.Lounge.players && game.Lounge.players.length > 3">
            <div id="circle" class="{{game.Lounge.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.Lounge.players && game.Lounge.players.length > 4">
            <div id="circle" class="{{game.Lounge.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.Lounge.players && game.Lounge.players.length > 5">
            <div id="circle" class="{{game.Lounge.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="width:100%">
    <div class="room" (click)="moveIfValid(game.Hallway3)" style="width:40px; height:120px; background:tan; display:inline-block" title="{{game.Hallway3.name}}"><a></a>
      <div *ngIf="game.Hallway3.players && game.Hallway3.players.length > 0" id="circle" class="{{game.Hallway3.players[0].user.color}} vhallway"></div>      
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway4)" style="width:40px; height:120px; margin-left:255px; background:tan; display:inline-block" title="{{game.Hallway4.name}}"><a></a>
      <div *ngIf="game.Hallway4.players && game.Hallway4.players.length > 0" id="circle" class="{{game.Hallway4.players[0].user.color}} vhallway"></div>            
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway5)" style="width:40px; height:120px; margin-left:253px; background:tan; display:inline-block" title="{{game.Hallway5.name}}"><a></a>
      <div *ngIf="game.Hallway5.players && game.Hallway5.players.length > 0" id="circle" class="{{game.Hallway5.players[0].user.color}} vhallway"></div>                  
    </div>    
  </div>
  <div style="width:100%">
    <div class="room" (click)="moveIfValid(game.Library)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.Library.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.Library.players && game.Library.players.length > 0">
            <div id="circle" class="{{game.Library.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.Library.players && game.Library.players.length > 1">
            <div id="circle" class="{{game.Library.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.Library.players && game.Library.players.length > 2">
            <div id="circle" class="{{game.Library.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.Library.players && game.Library.players.length > 3">
            <div id="circle" class="{{game.Library.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.Library.players && game.Library.players.length > 4">
            <div id="circle" class="{{game.Library.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.Library.players && game.Library.players.length > 5">
            <div id="circle" class="{{game.Library.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway6)" style="width:160px; height:40px; margin-bottom:30px; background:tan; display:inline-table" title="{{game.Hallway6.name}}"><a></a>
      <div *ngIf="game.Hallway6.players && game.Hallway6.players.length > 0" id="circle" class="{{game.Hallway6.players[0].user.color}} hhallway"></div>                        
    </div>
    <div class="room" (click)="moveIfValid(game.BilliardRoom)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.BilliardRoom.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.BilliardRoom.players && game.BilliardRoom.players.length > 0">
            <div id="circle" class="{{game.BilliardRoom.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.BilliardRoom.players && game.BilliardRoom.players.length > 1">
            <div id="circle" class="{{game.BilliardRoom.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.BilliardRoom.players && game.BilliardRoom.players.length > 2">
            <div id="circle" class="{{game.BilliardRoom.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.BilliardRoom.players && game.BilliardRoom.players.length > 3">
            <div id="circle" class="{{game.BilliardRoom.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.BilliardRoom.players && game.BilliardRoom.players.length > 4">
            <div id="circle" class="{{game.BilliardRoom.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.BilliardRoom.players && game.BilliardRoom.players.length > 5">
            <div id="circle" class="{{game.BilliardRoom.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway7)" style="width:160px; height:40px; margin-bottom:30px; background:tan; display:inline-table" title="{{game.Hallway7.name}}"><a></a>
      <div *ngIf="game.Hallway7.players && game.Hallway7.players.length > 0" id="circle" class="{{game.Hallway7.players[0].user.color}} hhallway"></div>                              
    </div>
    <div class="room" (click)="moveIfValid(game.DiningRoom)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.DiningRoom.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.DiningRoom.players && game.DiningRoom.players.length > 0">
            <div id="circle" class="{{game.DiningRoom.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.DiningRoom.players && game.DiningRoom.players.length > 1">
            <div id="circle" class="{{game.DiningRoom.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.DiningRoom.players && game.DiningRoom.players.length > 2">
            <div id="circle" class="{{game.DiningRoom.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.DiningRoom.players && game.DiningRoom.players.length > 3">
            <div id="circle" class="{{game.DiningRoom.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.DiningRoom.players && game.DiningRoom.players.length > 4">
            <div id="circle" class="{{game.DiningRoom.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.DiningRoom.players && game.DiningRoom.players.length > 5">
            <div id="circle" class="{{game.DiningRoom.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="width:100%">
    <div class="room" (click)="moveIfValid(game.Hallway8)" style="width:40px; height:120px; background:tan; display:inline-block" title="{{game.Hallway8.name}}"><a></a>
      <div *ngIf="game.Hallway8.players && game.Hallway8.players.length > 0" id="circle" class="{{game.Hallway8.players[0].user.color}} vhallway"></div>                                    
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway9)" style="width:40px; height:120px; margin-left:255px; background:tan; display:inline-block" title="{{game.Hallway9.name}}"><a></a>
      <div *ngIf="game.Hallway9.players && game.Hallway9.players.length > 0" id="circle" class="{{game.Hallway9.players[0].user.color}} vhallway"></div>                                        
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway10)" style="width:40px; height:120px; margin-left:253px; background:tan; display:inline-block" title="{{game.Hallway10.name}}"><a></a>
      <div *ngIf="game.Hallway10.players && game.Hallway10.players.length > 0" id="circle" class="{{game.Hallway10.players[0].user.color}} vhallway"></div>                                            
    </div>    
  </div>
  <div style="width:100%">
    <div class="room" (click)="moveIfValid(game.Conservatory)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.Conservatory.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.Conservatory.players && game.Conservatory.players.length > 0">
            <div id="circle" class="{{game.Conservatory.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.Conservatory.players && game.Conservatory.players.length > 1">
            <div id="circle" class="{{game.Conservatory.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.Conservatory.players && game.Conservatory.players.length > 2">
            <div id="circle" class="{{game.Conservatory.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.Conservatory.players && game.Conservatory.players.length > 3">
            <div id="circle" class="{{game.Conservatory.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.Conservatory.players && game.Conservatory.players.length > 4">
            <div id="circle" class="{{game.Conservatory.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.Conservatory.players && game.Conservatory.players.length > 5">
            <div id="circle" class="{{game.Conservatory.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway11)" style="width:160px; height:40px; margin-bottom:30px; background:tan; display:inline-table" title="{{game.Hallway11.name}}"><a></a>
      <div *ngIf="game.Hallway11.players && game.Hallway11.players.length > 0" id="circle" class="{{game.Hallway11.players[0].user.color}} hhallway"></div>                                                
    </div>
    <div class="room" (click)="moveIfValid(game.BallRoom)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.BallRoom.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.BallRoom.players && game.BallRoom.players.length > 0">
            <div id="circle" class="{{game.BallRoom.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.BallRoom.players && game.BallRoom.players.length > 1">
            <div id="circle" class="{{game.BallRoom.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.BallRoom.players && game.BallRoom.players.length > 2">
            <div id="circle" class="{{game.BallRoom.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.BallRoom.players && game.BallRoom.players.length > 3">
            <div id="circle" class="{{game.BallRoom.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.BallRoom.players && game.BallRoom.players.length > 4">
            <div id="circle" class="{{game.BallRoom.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.BallRoom.players && game.BallRoom.players.length > 5">
            <div id="circle" class="{{game.BallRoom.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="room" (click)="moveIfValid(game.Hallway12)" style="width:160px; height:40px; margin-bottom:30px; background:tan; display:inline-table" title="{{game.Hallway12.name}}"><a></a>
      <div *ngIf="game.Hallway12.players && game.Hallway12.players.length > 0" id="circle" class="{{game.Hallway12.players[0].user.color}} hhallway"></div>                                                    
    </div>
    <div class="room" (click)="moveIfValid(game.Kitchen)" style="width:100px; height:100px; background:lightgreen; display:inline-block"><a>{{game.Kitchen.name}}</a>
      <table>
        <tr>
          <td *ngIf="game.Kitchen.players && game.Kitchen.players.length > 0">
            <div id="circle" class="{{game.Kitchen.players[0].user.color}}"></div>
          </td>
          <td *ngIf="game.Kitchen.players && game.Kitchen.players.length > 1">
            <div id="circle" class="{{game.Kitchen.players[1].user.color}}"></div>
          </td>
          <td *ngIf="game.Kitchen.players && game.Kitchen.players.length > 2">
            <div id="circle" class="{{game.Kitchen.players[2].user.color}}"></div>
          </td>
        </tr>
        <tr>
          <td *ngIf="game.Kitchen.players && game.Kitchen.players.length > 3">
            <div id="circle" class="{{game.Kitchen.players[3].user.color}}"></div>
          </td>
          <td *ngIf="game.Kitchen.players && game.Kitchen.players.length > 4">
            <div id="circle" class="{{game.Kitchen.players[4].user.color}}"></div>
          </td>
          <td *ngIf="game.Kitchen.players && game.Kitchen.players.length > 5">
            <div id="circle" class="{{game.Kitchen.players[5].user.color}}"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--Bottom section-->
  <div style="position:absolute; bottom:0; height:200px; width:650px; margin-top: 50px; border-top: 1px solid black;">
    
    <!--Cards-->
    <div style="text-align: center; float:left; width:50%; height:100%; overflow-y: scroll;">
      <h5 style="margin-top: 5px;">Cards</h5>
      <ul class="list-group">
        <div *ngFor="let card of player.user.cards">
          <li class="list-group-item" style="padding: 5px 15px;"><span>{{card.type}} : {{card.value}}</span></li>
        </div>
      </ul>
    </div>

    <!--Logger-->
    <div style="text-align: center; float:right; width: 50%; height:100%; border-left: 1px solid black; overflow-y: scroll;">
      <h5 style="margin-top: 5px;">Logger</h5>
      <ul class="list-group">
      <div *ngFor="let message of logMessages">
        <li class="list-group-item" style="padding: 5px 15px;"><span>{{message}}</span></li>
      </div>
      </ul>
    </div>
  </div>
</div>

<!--Notepad-->
<div class="pull-right" style="width:300px; position:relative;" >
    <h3>Notepad</h3>
    <hr>
    <form>
      <fieldset>
        <legend>Characters:</legend>
            <label class="checkbox">
              <input type="checkbox" name="missWhite" value="missWhite"> Miss White<br>
              <input type="checkbox" name="colonelMustard" value="colonelMustard"> Colonel Mustard<br>
              <input type="checkbox" name="mrGreen" value="mrGreen"> Mr Green<br>
              <input type="checkbox" name="mrsPeacock" value="mrsPeacock"> Mrs Peacock<br>
              <input type="checkbox" name="professorPlum" value="professorPlum"> Professor Plum<br>
              <input type="checkbox" name="missScarlet" value="missScarlet"> Miss Scarlet<br>
            </label><br>
        </fieldset>
    </form>
      <hr>
    <form>
      <fieldset>
        <legend>Rooms:</legend>
            <label class="checkbox">
              <input type="checkbox" name="study" value="study"> Study<br>
              <input type="checkbox" name="hall" value="hall"> Hall<br>
              <input type="checkbox" name="lounge" value="lounge"> Lounge<br>
              <input type="checkbox" name="library" value="library"> Library<br>
              <input type="checkbox" name="billiardRoom" value="billiardRoom"> Billiard Room<br>
              <input type="checkbox" name="dinningRoom" value="dinningRoom"> Dinning Room<br>
              <input type="checkbox" name="conservatory" value="conservatory"> Conservatory<br>
              <input type="checkbox" name="ballRoom" value="ballRoom"> Ball Room<br>
              <input type="checkbox" name="kitchen" value="kitchen"> Kitchen<br>

            </label><br>
        </fieldset>
    </form>
      <hr>
    <form>
      <fieldset>
        <legend>Weapons:</legend>
            <label class="checkbox">
              <input type="checkbox" name="wrench" value="wrench"> Wrench<br>
              <input type="checkbox" name="candlestick" value="candlestick"> Candlestick<br>
              <input type="checkbox" name="leadPipe" value="leadPipe"> Lead Pipe<br>
              <input type="checkbox" name="rope" value="rope"> Rope<br>
              <input type="checkbox" name="revolver" value="revolver"> Revolver<br>
              <input type="checkbox" name="knife" value="knife"> Knife<br>
            </label><br>
        </fieldset>
    </form>
</div>



<!--<div class="row">
  <div class="col-sm-1">
        <img class="img-responsive" src="{{characterImgPath.MissWhite}}" alt="Card image cap" style="width: 75%;">
  </div>
  <div class="col-sm-1">
    <img class="img-responsive" src="{{studyPath}}" />
    img class="img-responsive" src="{{boardPath}}" alt="Card image cap" style="height:75%;">
  </div>
  <div class="col-sm-1">
    <img class="img-responsive" src="{{characterImgPath.ColMustard}}" alt="Card image cap" style="width: 75%;">
  </div>
  <div class="col-sm-3" border ="1">
      <h3>Notepad</h3>
</div>
<div class="row" style="position: relative; bottom: 0px; background-color: blueviolet;">
  <cards></cards>
</div>-->