<div class="row">
  <div class="col-sm-1">
        <img class="img-responsive" src="{{characterImgPath.MissWhite}}" alt="Card image cap" style="width: 75%;">
  </div>
  <div class="col-sm-7">
    <img class="img-responsive" src="{{boardPath}}" alt="Card image cap" style="height:75%;">
  </div>
  <div class="col-sm-1">
    <img class="img-responsive" src="{{characterImgPath.ColMustard}}" alt="Card image cap" style="width: 75%;">
  </div>
  <div class="col-sm-3" border ="1">
      <h3>Notepad</h3>
      <hr>
      <form>
        <fieldset>
          <legend>Characters:</legend>
              <label class="checkbox">
                <input type="checkbox" name="missWhite" value="missWhite"> Miss White<br>
                <input type="checkbox" name="colonelMustard" value="colonelMustard"> Colonel Mustard<br>
                <input type="checkbox" name="mrGreen" value="mrGreen"> Mr Green<br>
                <input type="checkbox" name="mrsPeacock" value="mrsPeacock"> Mrs Peacock<br>
                <input type="checkbox" name="professorPlum" value="professorPlum"> Professor Plum<br>
                <input type="checkbox" name="missScarlet" value="missScarlet"> Miss Scarlet<br>
              </label><br>
         </fieldset>
      </form>

       <hr>

      <form>
        <fieldset>
          <legend>Rooms:</legend>
              <label class="checkbox">
                <input type="checkbox" name="study" value="study"> Study<br>
                <input type="checkbox" name="hall" value="hall"> Hall<br>
                <input type="checkbox" name="lounge" value="lounge"> Lounge<br>
                <input type="checkbox" name="library" value="library"> Library<br>
                <input type="checkbox" name="billiardRoom" value="billiardRoom"> Billiard Room<br>
                <input type="checkbox" name="dinningRoom" value="dinningRoom"> Dinning Room<br>
                <input type="checkbox" name="conservatory" value="conservatory"> Conservatory<br>
                <input type="checkbox" name="ballRoom" value="ballRoom"> Ball Room<br>
                <input type="checkbox" name="kitchen" value="kitchen"> Kitchen<br>

              </label><br>
         </fieldset>
      </form>

       <hr>

      <form>
        <fieldset>
          <legend>Weapons:</legend>
              <label class="checkbox">
                <input type="checkbox" name="wrench" value="wrench"> Wrench<br>
                <input type="checkbox" name="candlestick" value="candlestick"> Candlestick<br>
                <input type="checkbox" name="leadPipe" value="leadPipe"> Lead Pipe<br>
                <input type="checkbox" name="rope" value="rope"> Rope<br>
                <input type="checkbox" name="revolver" value="revolver"> Revolver<br>
                <input type="checkbox" name="knife" value="knife"> Knife<br>
              </label><br>
         </fieldset>
      </form>
  </div>
</div>
<div class="row" style="position: relative; bottom: 0px; background-color: blueviolet;">
  <cards></cards>
  </div>