<nav-menu [userName]="player.user.userName" [isLoggedIn]="isLoggedIn" (navigate)="navigate($event)" (logOut)="logOut()"></nav-menu>
<div class="container appBody">
  <div class="row">
    <div *ngIf="route == 'lobby'" class="col-12">
      <lobby [lobbyList]="lobbyList" [isValid]="isValidLobbyName" [isLoggedIn]="isLoggedIn" (addLobby)="addNewLobby($event)" (joinLobby)="joinLobby($event)"></lobby>
    </div>
    <div *ngIf="route == 'userLogin'" class="col-12">
      <user-login [isValid]="isValidUserName" (addUser)="addUser($event)"></user-login>
    </div>
    <div *ngIf="route == 'game'" class="col-12">
      <game></game>
    </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>GAME SECTION</h1>
      <game></game>
    </div>
    <div class="col">
      <h1>CHAT SECTION</h1>
      <chat></chat>
    </div>
  </div>
  <div class="row">
    <h1>PLAYING GAME</h1>
    <playing-game></playing-game>
  </div>
</div>-->